* {
    margin: 0px;
    overflow-x: hidden;
}

.App {
    text-align: center;
}

.page {
    width: 100vw;
    box-sizing: border-box;
    padding-top: 10vh;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}